    
            
        body{
            
            background-color: rgb(76, 183, 171);
        }
        
        .hangoutcard{
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
            width: 325px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
        }
        
        .newhangout{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            top: 50px;
                border-radius: 2px;
    position: relative;
     width:110%;
            left: -5%;
            height:70px;
    background-color: #427FED;
    z-index: 3;
        }
        
        
        .addhangout{
                color: white;
    position: relative;
    top: 27%;
    left: 38%;
    font-size: xx-large;
    font-weight: bold;
           
        }
        
        .hangoutnametext{
            
            position: relative;
    top: 15%;
    left: 10%;
    background: transparent;
    outline: none;
    color: white;
    border: none;
        }
        
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
            opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
     opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
     opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
     opacity: 0.5;
}
        
        .divider{
            
                height: 2px;
    opacity: 0.1;
    width: 100%;
    background-color: black;
    position: relative;
    top: 40%;
        }